.content-columns {
  display: flex;
  gap: 2.5rem;             
  margin-top: 2rem;        
}

.event-listings {
  flex: 7;
}

.search-filter-sidebar {
  flex: 3;
  background: var(--white);
  padding: 1.5625rem;
  border-radius: 12px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  align-self: flex-start;
}

.event-listings article {
  border-left: 6px solid var(--secondary);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.event-listings article:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

@media (max-width: 992px) {
  .content-columns {
    flex-direction: column;
  }
  
  .search-filter-sidebar {
    order: -1; /* Puts search bar on top for mobile users */
    width: 100%;
  }
}


